---
title: 'Mitgliedsantrag {{ dynamic.membership }}'
preheader: 'Bestätigung deiner Mitgliedschaft'
---

<x-main>
  <h1>Bestätigung der Mitgliedshaft</h1>
  <p>
    Herzlich Willkommen als neuestes Mitglied im
    <strong>{{ dynamic.membership }}</strong>! Mit deiner Mitgliedschaft bist du
    nun selbst ein Teil vom Kulturspektakel und trägst zum Fortbestehen unseres
    Festivals bei.
  </p>
  <p>
    Der Mitgliedsbeitrag in Höhe von {{ dynamic.membershipFee }} wird jährlich
    von deinem Konto {{ dynamic.iban }} per Lastschrift abgebucht. Als Mitglied
    erhältst auch du eine Einladung zu unserer jährlichen Mitgliederversammlung.
  </p>
  <p>
    Du kannst jederzeit aus dem Verein austreten. Das ist postalisch oder per
    E-Mail an {{ dynamic.senderEmail }} möglich. Der Mitgliedsbeitrag des
    laufenden Jahres verbleibt in der Vereinskasse.
  </p>
  <p>Viele Grüße,<br />Das Team vom {{ dynamic.membership }}</p>
</x-main>
