---
title: "Absage „{{ dynamic.bandname }}“ - Kulturspektakel {{ dynamic.eventYear }}"
preheader: "Absage zu eurer Bewerbung mit „{{ dynamic.bandname }}“ für das Kulturspektakel Gauting {{ dynamic.eventYear }}"
---

<extends src="master.html">
  <block name="content">
    <p>
        Hey,
    </p>
    <p>
        vielen Dank für eure Bewerbung mit „{{ dynamic.bandname }}“ beim Kulturspektakel Gauting {{ dynamic.eventYear }}.
    </p>
    <p>
        Wir sind überwältigt von der großen Resonanz und den zahlreichen Bewerbungen, die wir erhalten haben. Es ist uns eine große Freude zu sehen, wie viele talentierte Künstler:innen in bei uns spielen möchten. Dabei mussten wir die schwierige Entscheidung treffen, einige Bewerbungen abzulehnen, obwohl sie gut zu unserem vielseitigen Programm gepasst hätten. Wir bedauern, dass wir euch in diesem Jahr keinen Auftritt anbieten können.
    </p>
    <p>
        Bei der Planung unseres Festivals ist es unser Anliegen, eine möglichst große Bandbreite an musikalischen Stilrichtungen und Newcomer:innen wie auch etablierten Künstler:innen eine Plattform zu bieten. Daher versuchen wir Jahr für Jahr, vielen verschiedenen Musiker:innen die Möglichkeit zu geben, auf unseren Bühnen zu stehen.
    </p>
    <p>
        Wir möchten dir jedoch versichern, dass wir eure Bewerbung sehr zu schätzen wissen und würden uns freuen, wenn ihr uns nächstes Jahr erneut eure Bewerbung zukommen lasst. Ab August wird es möglich sein, euch über das Formular auf unserer Webseite für das Kulturspektakel 2025 zu bewerben.
    </p>
    <p>
        Das Line-Up für unser Festival veröffentlichen wir in den nächsten Wochen auf unserer Webseite. Natürlich würden wir uns auch sehr freuen euch trotzdem als Gäste auf dem Kult begrüßen zu dürfen.
    </p>
    <p class="m-0">
        Viel Erfolg und hoffentlich bis zum nächsten Jahr!<br />
        Das Bookingteam des Kulturspektakel Gauting
    </p>
  </block>
</extends>
