---
title: "Absage „{{ dynamic.bandname }}“ - Kulturspektakel {{ dynamic.eventYear }}"
preheader: "Absage zu eurer Bewerbung mit „{{ dynamic.bandname }}“ für das Kulturspektakel Gauting {{ dynamic.eventYear }}"
---

<extends src="master.html">
  <block name="content">
    <p>
        Hey,
    </p>
    <p>
        vielen Dank für eure Bewerbung mit „{{ dynamic.bandname }}“ beim Kulturspektakel Gauting {{ dynamic.eventYear }}.
    </p>
    <p>
        Wir haben hunderte Bewerbungen erhalten, von denen wir nur etwa 40 Bands auswählen konnten. Leider mussten wir uns entscheiden, einige Bewerbungen abzulehnen, auch wenn sie gut zum Kulturspektakel gepasst hätten. Es tut uns Leid, dass wir euch in diesem Jahr keinen Slot anbieten können.
    </p>
    <p>
        Bei der Planung unseres Festivals legen wir großen Wert darauf, vielen verschiedenen Musikern die Möglichkeit zu geben, aufzutreten. Deshalb versuchen wir jedes Jahr, einer großen Bandbreite an Nachwuchsbands und etablierten Künstler:innen verschiedenster Musikrichtungen eine Chance zu geben.
    </p>
    <p>
        Wir möchten dir jedoch versichern, dass wir deine Bewerbung sehr zu schätzen wissen und würden uns freuen, wenn ihr uns nächstes Jahr erneut eure Bewerbung zukommen lasst. Ab August wird es möglich sein, euch über das Bewerbungsformular auf unserer Webseite für nächstes Jahr zu bewerben.
    </p>
    <p>
        Das Line-Up für unser diesjähriges Festival wird in den nächsten Wochen auf unserer Webseite veröffentlicht. Natürlich würden wir uns sehr freuen, wenn ihr trotzdem beim Kulturspektakel vom 21. - 23. Juli 2023 vorbeischaut.
    </p>
    <p class="m-0">
        Viel Erfolg und hoffentlich bis zum nächsten Jahr!<br />
        Das Bookingteam des Kulturspektakel Gauting
    </p>
  </block>
</extends>
