---
title: "Reservierung Kulturspektakel"
preheader: "Deine Reservierungen für das Kulturspektakel"
---

<extends src="master.html">
  <block name="content">
    <component src="heading.html">Dein Besuch auf dem Kulturspektakel</component>
    <p>Wir freuen uns, dass du zum Kult 2021 kommst.</p>
    <p>
      Zur Kontaktverfolgung benötigen wir bereits in deiner Reservierung die korrekten Vor- und Nachnamen aller Gäste. Wenn sich an deiner Gästeliste etwas geändert hat, aktualisiere sie bitte entsprechend.
    </p>
    <p>
      Falls du deine Reservierung(en) nicht wahrnehmen kannst, sei bitte so fair und sage sie rechtzeitig ab indem du auf “Reservierung bearbeiten” klickst und sie dort stornierst.
    </p>
    <h4>
      Du hast folgende Reservierungen für das Kult:
    </h4>
    <ul class="mt-1">
        {{ dynamic.reservations }}
    </ul>
    <p>
      Der Besuch des Kulturspektakels ist nur mit einer gültigen Reservierung möglich. Bitte kommt pünktlich zum Beginn eurer Reservierung, da sie sonst verfällt.
    </p>
    <p>
      Am Einlass werden die Kontaktdaten aller Gäste erfasst - entweder via Check-In bei <component src="a.html" locals='{"url": "http://darfichrein.de/"}'>darfichrein.de</component> mit eurem Smartphone oder über ein Formular, das vor Ort bereitliegt. Zusätzlich empfehlen wir euch die Nutzung der offiziellen <component src="a.html" locals='{"url": "http://corona-warn-app.de/"}'>Corona-Warn-App.</component>
    </p>
    <p>
      Damit ein Festival in der aktuellen Situation stattfinden kann, ist es wichtig, dass sich alle Gäste an die notwendigen Corona-Maßnahmen halten. Lies die <component src="a.html" locals='{"url": "https://kulturspektakel.de/hygiene/"}'>Hygiene-Hinweise</component> vor eurem Besuch noch Mal durch und stelle dich darauf ein, welche Regeln auf unserem Gelände gelten. An die Vorgaben müssen sich alle Gäste halten, leite sie bitte auch an die Personen weiter, für die du reserviert hast.
    </p>
    <p class="m-0">Viele Grüße,<br>Das Kult-Team</p>
  </block>
</extends>
