---
title: "Reservierung #{{ dynamic.number }} bestätigt"
preheader: "Deine Reservierung für das Kulturspektakel ist bestätigt"
---

<extends src="master.html">
  <block name="content">
    <component src="heading.html">Reservierung #{{ dynamic.number }}</component>
    <p class="m-0 mb-24">
      Wir freuen uns, dass du zum Kult kommst. Dein Reservierung ist nun bestätigt.
    </p>

    <table class="table-auto">
      <tbody>
        <tr>
          <th>Datum</th>
          <td class="py-4 px-8">{{ dynamic.day }}</td>
        </tr>
        <tr>
          <th>Uhrzeit</th>
          <td class="py-4 px-8">{{ dynamic.startTime }} bis {{ dynamic.endTime }} Uhr</td>
        </tr>
        <tr>
          <th>Bereich</th>
          <td class="py-4 px-8">{{ dynamic.area }}</td>
        </tr>
        <tr>
          <th>Gäste</th>
          <td class="py-4 px-8">{{ dynamic.partySize }} Personen</td>
        </tr>
      </tbody>
    </table>
    
    <h4 class="mb-0">
      Wichtige Informationen
    </h4>

    <ul class="mt-1">
      <li>
        Der Zugang zum Festival ist ausschließlich über einen der
        <component src="a.html" locals='{"url": "https://kulturspektakel.de/angebot"}'>beiden Eingänge</component>
        möglich.
      </li>
      <li>
        Bitte seid pünktlich zum Beginn eurer Reservierung da, sonst
        verfällt sie.
      </li>
      <li>
        Am Einlass werden die Kontaktdaten aller Gäste erfasst -
        entweder via Check-In bei darfichrein.de mit eurem Smartphone
        oder über ein Formular zur Gästeregistrierung
      </li>
      <li>
        Außer auf den Wegen zu den Verkaufsständen und Toiletten
        dürft ihr euch nur an eurem Sitzplatz aufhalten und nicht an
        andere Tische wechseln.
      </li>
      <li>
        Unser Hygienekonzept findet ihr auf <component src="a.html" locals='{"url": "https://kulturspektakel.de/hygiene/"}'>kulturspektakel.de/hygiene</component>.
      </li>
    </ul>

    <component src="hr.html"></component>

    <p class="m-0 mb-16">Falls du deine Reservierung ändern oder absagen möchtest, klicke bitte hier.</p>
    <component src="button.html" locals='{"url": "https://table.kulturspektakel.de/reservation/{{ dynamic.token }}"}'>
      Reservierung ändern
    </component>
    
    <p>
      Viele Grüße,<br>
      das Kult-Team
    </p>
  </block>
</extends>
